__pycache__/
*.py[cod]
*.sqlite3
*.log
.env
.venv/
venv/
ENV/
env/

media/
staticfiles/

*.pt
*.pth
*.onnx
*.cache

sea_treasure_datasets/
sea_treasure_datasets_augmented/
sea_treasure_datasets_real/
sea_treasure_dataset_v2/
sea_treasure_dataset_v3/
sea_treasure_project/

*.jpg
*.jpeg
*.png
*.mp4
*.avi

!static/**/*.png
!static/**/*.jpg
!static/**/*.jpeg
!templates/**/*.png
!templates/**/*.jpg
!templates/**/*.jpeg
